<div class="row">
    <hr>
    <div class="col-sm-6">
    A joint project between the <a href="http://www.ub.ruhr-uni-bochum.de/">University Library Bochum</a> and the <a href="http://www.ub.tu-dortmund.de">University Library Dortmund</a>.
        <br/><br/>
    <a href="{{ url_for('contact') }}"><i class="fa fa-envelope-o"></i> {{ _('Contact') }}</a>
        </div>
    <div class="col-sm-6">
        <p class="text-right">
            <img src="https://www.ub.tu-dortmund.de/images/orcid_member_small.png">
        </p>
    </div>
</div>
<br/>
<p class="text-right">
    <strong>In Memory of André Hagenbruch.</strong>
</p>
