{% extends 'site_base.html' %}
{% import 'drill_down.html' as drill_down with context %}
{% import 'remove_filters.html' as remove_filters with context %}
{% block site_content %}
    {{ super() }}
    {% include 'confirm_delete_modal.html' %}
    <p>{% include 'admin_nav.html' %}</p>
    <div>
        <form class="form-inline" role="search" action="{{ url_for('search') }}" method="get">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search organisations" name="q">
                    <input type="hidden" name="core" value="organisation">
                </div>
            </div>
            <button type="submit" class="btn btn-default">{{ _('Go') }}</button>
        </form>
    </div>
    {% if results|length > 0 %}<div class="row">
        <div class="col-sm-3" id="facets">
            {{ drill_down.facets(facet_data.catalog, 'catalog', heading='Catalog', target='organisations') }}
            {{ drill_down.facets(facet_data.fparent, 'fparent', heading='PARENTS', target='organisations') }}
            {{ drill_down.facets(facet_data.destatis_id, 'destatis_id', heading='DESTATIS', target='organisations') }}
            {{ drill_down.simple_filter('gnd', heading='GND', target='organisations') }}
            {{ drill_down.facets(facet_data.editorial_status, 'editorial_status', heading='Editorial Status', target='organisations') }}
            {{ drill_down.facets(facet_data.deskman, 'deskman', heading='Deskman', target='organisations') }}
            {{ drill_down.facets(facet_data.owner, 'owner', heading='Owner', target='organisations') }}
        </div>
        <div class="col-sm-9">
            {{ pagination.info }}
            {{ remove_filters.remove_filter(target='organisations') }}
            {{ pagination.links }}
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>{{ _('Editorial Status') }}</td>
                        <td>{{ _('Organisation') }}</td>
                        {#<td>{{ _('Account') }}</td>#}
                        <td>{{ _('Created') }}</td>
                        <td>{{ _('Changed') }}</td>
                        <td>{{ _('Action') }}</td>
                    </tr>
                </thead>
                {% for record in results %}
                    <tr>
                        <th scope="row">{{ loop.index + offset }}</th>
                        <td>
                            <span class="label label-{% if record.editorial_status == 'new' %}info{% elif record.editorial_status == 'in_process' %}default{% elif record.editorial_status == 'processed' %}primary{% elif record.editorial_status == 'final_editing' %}warning{% elif record.editorial_status == 'finalized' or record.editorial_status == 'imported' %}success{% endif %}">{% if record.locked %} <i class="fa fa-lock"></i> {% endif %}{{ record.editorial_status|capitalize }}</span>
                        </td>
                        <td>
                            <a href="{{ url_for('show_orga', orga_id=record.id) }}">{{ record.pref_label }}</a>
                            {% if record.parent_id %}
                            <br/>{{ _('Parent') }}: <a href="{{ url_for('show_orga', orga_id=record.parent_id) }}">{% if record.parent_label %}{{ record.parent_label }}{% else %}{{ record.parent_id }}{% endif %}</a>
                            {% elif record.parent_label %}
                            <br/>{{ _('Parent') }}: {{ record.parent_label }}
                            {% endif %}
                        </td>
                        {#<td>{{ record.account }}</td>#}
                        <td>{{ (now - record.created|mk_time())|humanize() }}</td>
                        <td>{{ (now - record.changed|mk_time())|humanize() }}</td>
                        <td class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="action{{ loop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog"></i> Action <span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="action{{ loop.index }}">
                                <li><a href="{{ url_for('show_orga', orga_id=record.id) }}"><i class="fa fa-eye"></i> {{ _('View') }}</a></li>
                                {% if (current_user.role == 'admin' and not record.editorial_status == 'deleted' and not record.editorial_status == 'imported') or current_user.role == 'superadmin' or current_user.email in record.owner %}
                                <li><a href="{{ url_for('edit_orga', orga_id=record.id) }}"><i class="fa fa-pencil"></i> {{ _('Edit') }}</a></li>
                                <li class="bg-danger"><a href="#" data-href="{{ url_for('delete_orga', orga_id=record.id) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i> {{ _('Delete') }}</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {{ pagination.links }}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function page_reload(){
            setTimeout(function(){
                        document.location = '{{ del_redirect }}';
                        }, 1000);
        }
        $('#confirm-delete').on('show.bs.modal', function(event) {
            $(this).find('.btn-ok').attr('href', $(event.relatedTarget).data('href'));
        });
        $(document).on('click', '.btn-ok', function(event){
            event.preventDefault();
            $.get($('.btn-ok').attr('href'), function(data){
                if(data.deleted == true){
                    page_reload();
                }
            });
        });
    </script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
{% endblock %}