{% extends 'site_base.html' %}
{% import 'drill_down.html' as drill_down with context %}
{% import 'remove_filters.html' as remove_filters with context %}
{% block site_content %}
    {{ super() }}
    <div class="row">
        <div class="col-sm-4" id="facets">
            {% if facet_data%}
                {{ drill_down.facets(facet_data.catalog, 'catalog', heading='Catalog', target=target) }}
                {% if site == 'dortmund' %}
                    {{ drill_down.facets(facet_data.ftudo, 'ftudo', heading='TUDO Member', target=target) }}
                {% endif %}
                {% if site == 'bochum' %}
                    {{ drill_down.facets(facet_data.frubi, 'frubi', heading='RUB Member', target=target) }}
                {% endif %}
                {{ drill_down.facets(facet_data.pubtype, 'pubtype', heading='Publication type', target=target) }}
                {{ drill_down.facets(facet_data.fdate, 'fdate', heading='Publication Date', target=target) }}
                {{ drill_down.boolean_filter('dfg', heading='DFG funded', target=target) }}
                {{ drill_down.facets(facet_data.language, 'language', heading='Language', target=target) }}
            {% endif %}
        </div>
        <div class="col-sm-8">
            {{ pagination.info }}
{#            {% include 'remove_filters.html' %}#}
            {{ remove_filters.remove_filter(target=target) }}
            {{ pagination.links }}
            {% include 'record_list.html' %}
            {{ pagination.links }}
        </div>
    </div>
{% endblock %}