<div class="form-group">
    <div class="col-xs-offset-9 col-xs-3">
        {% if pubtype == 'organisation' %}
            {% if locked %}
            <a href="{{ url_for('unlock_orga', orga_id=record_id, next='orgas') }}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% else %}
            <a href="{% if current_user.role == 'admin' or current_user.role == 'superadmin' %}../organisations{% else %}/{% endif %}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% endif %}
        {% elif pubtype == 'group' %}
            {% if locked %}
            <a href="{{ url_for('unlock_group', group_id=record_id, next='groups') }}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% else %}
            <a href="{% if current_user.role == 'admin' or current_user.role == 'superadmin' %}../organisations{% else %}/{% endif %}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% endif %}
        {% elif pubtype == 'person' %}
            {% if locked %}
            <a href="{{ url_for('unlock_person', person_id=record_id, next='persons') }}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% else %}
            <a href="{% if current_user.role == 'admin' or current_user.role == 'superadmin' %}../persons{% else %}/{% endif %}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% endif %}
        {% else %}
            {% if locked %}
            <a href="{{ url_for('unlock', record_id=record_id, next='dashboard') }}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% else %}
            <a href="{% if current_user.role == 'admin' or current_user.role == 'superadmin' %}../dashboard{% else %}/{% endif %}" class="btn btn-danger">{{ _('Cancel') }}</a>
            {% endif %}
        {% endif %}
        <button type="submit" class="btn btn-primary submit" form="theform">{{ _('Submit') }}</button>
    </div>
</div>