{% extends 'site_base.html' %}
{% block site_content %}
    {{ super() }}
    <p>{% include 'admin_nav.html' %}</p>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled">
                {% for record in records %}
                    <li style="line-height: 2.85714286;"><span class="col-sm-8">{{ record.title }}</span><span class="col-sm-2"><a href="{{ url_for('unlock', record_id=record.id) }}" class="btn btn-sm btn-success"><i class="fa fa-unlock"></i> {{ _('Unlock') }}</a></span><span class="col-sm-2">{{ record.recordChangeDate }}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
{% endblock %}